/* Container for the background image */
.home-page-container {
    width: 100%;
    height: 100vh; /* Ensure the container takes full viewport height */
    background: url("https://png.pngtree.com/background/20230604/original/pngtree-restaurant-and-bar-counter-background-image-picture-image_2873150.jpg") no-repeat center center fixed;
    background-size: cover; /* Ensure the background image covers the whole screen */
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    .description{
        background: rgba(255, 255, 255, 0.9); /* Slight transparent white background for contrast */
          padding: 30px;
          border-radius: 8px;
          width: 100%;
          max-width: 600px; /* Maximum width for the form */
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Optional: adds a soft shadow to the form */
        .route{
            display: flex;
            justify-content: center;
            gap: 20px;
        }

    }
  }
  
  /* Login form specific styling */
  