.home-container {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #faf8f8;
    }

    ::-webkit-scrollbar {
        width: 5px;
        background-color: #f7f4f4;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: rgba(5, 5, 5, 0.06);
    }

    .slider {
        width: 85vw;
        padding: 20px;
        border: 1px solid rgba(5, 5, 5, 0.06);
        border-radius: 8px;
        .slick-arrow.slick-prev,
        .slick-arrow.slick-next{
            color: #000;
            font-size: 16px;
        }
        .slick-dots.slick-dots-bottom{
            li{
                button{
                    background-color: #df5d5d;
                    font-size: 16px;
                    
                }
            }
            .slick-active{
                button{
                    background-color: #000;
                    font-size: 16px;
                }
            }
        }

        .slide {
            display: flex !important;
            gap: 20px;
            height: 30vh;

            .slide-card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 300px;
                cursor: pointer;
                .truncate{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 260px;
                    .support-title {
                        font-size: 11px;
                        font-style: italic;
                    }
                }
}

            .menu-list {
                flex: 1;

                .title {
                    text-align: center;

                }

                .menu-item {
                    display: flex;
                    gap: 20px;
                    flex-wrap: wrap;
                    height: 90%;
                    overflow-y: scroll;

                    .menu-card {
                        padding: 12px;
                        font-size: 12px;
                        width: 210px;
                        border: 1px solid rgba(5, 5, 5, 0.06);
                        border-radius: 8px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .truncate{
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            max-width: 190px;
                            .support-title {
                                font-size: 11px;
                                font-style: italic;
                            }
                        }

                    }

                }
            }
        }

    }

    .slider-voucher,
    .slider-coupon {
        width: 85vw;
        padding: 30px;
        border: 1px solid rgba(5, 5, 5, 0.06);
        border-radius: 8px;
        .slick-arrow.slick-prev,
        .slick-arrow.slick-next{
            color: #000;
            font-size: 16px;
        }
        .slick-dots.slick-dots-bottom{
            li{
                button{
                    background-color: #df5d5d;
                    font-size: 16px;
                    
                }
            }
            .slick-active{
                button{
                    background-color: #000;
                    font-size: 16px;
                }
            }
        }
        .slide-card{
            width: 96% !important;
            .ant-card-body{
                display: flex !important;
                justify-content: center !important;
                align-items: center !important;
                flex-direction: column !important;
                padding: 12px;
                width: 100%;
                text-overflow: ellipsis;
                
            }
            .truncate{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 270px;
                text-align: center;
                margin: 5px 0;
                font-size: 15;

                // max-width: 100%;
                .support-title {
                    font-size: 11px;
                    font-style: italic;
                }
            }
        }
    }
}